/* RESET CSS */
* {
  margin: 0px;
  padding: 0px; }

/* INDEX-GRIDS */
#contenedor {
  display: grid;
  grid-template-areas: "box1 box1 box1" "box2 box2 box2" "box3 box3 box3" "box4 box4 box4";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 45vh 40vh 10vh 15vh; }

#box1 {
  grid-area: box1;
  background-color: #31afb4;
  text-align: center;
  align-content: space-around;
  justify-content: center; }
  #box1 img {
    align-content: center; }

#box2 {
  grid-area: box2;
  width: 100%;
  background-color: #31afb4; }
  #box2 ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-around;
    align-items: center;
    list-style-type: none; }
    #box2 ul li {
      width: 50%;
      margin-top: 5px;
      background: linear-gradient(to right, #4ca2cd, #67b26f);
      border: 2px solid #abdddd;
      border-radius: 3px;
      border-style: outset;
      flex: 50%; }
      #box2 ul li a {
        font-family: "Roboto Condensed";
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: white; }

#box3 {
  grid-area: box3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #31afb4; }

#box4 {
  grid-area: box4;
  background-color: #31afb4; }
  #box4 p {
    margin-top: 10px;
    font-family: "Roboto Condensed";
    font-size: 12px;
    text-decoration: none;
    text-align: center; }

/* SECCION QUIENES SOMOS-GRIDS */
#contenedor1 {
  display: grid;
  grid-template-areas: "box5 box5 box5" "box6 box6 box6" "box7 box7 box7" "box8 box8 box8" "box9 box9 box9";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 51vh 40vh 10vh 90vh 15vh; }

#box5 {
  grid-area: box5;
  background-color: #31afb4;
  text-align: center;
  align-content: space-around;
  justify-content: center; }
  #box5 img {
    align-content: center; }

#box6 {
  grid-area: box6;
  width: 100%;
  background-color: #31afb4; }
  #box6 ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-around;
    align-items: center;
    list-style-type: none; }
    #box6 ul li {
      width: 50%;
      margin-top: 5px;
      background: linear-gradient(to right, #4ca2cd, #67b26f);
      border: 2px solid #abdddd;
      border-radius: 3px;
      border-style: outset;
      flex: 50%; }
      #box6 ul li a {
        font-family: "Roboto Condensed";
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: white; }

#box7 {
  grid-area: box7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #31afb4; }

#box8 {
  grid-area: box8;
  background-color: #78ffd6;
  font-family: "Roboto Condensed";
  color: #1b1f1ff3; }
  #box8 h1 {
    font-size: 18px;
    text-align: center;
    margin: 5px; }
  #box8 h2 {
    font-size: 16px;
    margin: 5px; }
  #box8 p {
    font-size: 12px; }

#box9 {
  grid-area: box9;
  background-color: #31afb4; }
  #box9 p {
    margin-top: 10px;
    font-family: "Roboto Condensed";
    font-size: 12px;
    text-decoration: none;
    text-align: center; }

/* COMPROMISO ECOLOGICO - GRIDS */
#contenedor2 {
  display: grid;
  grid-template-areas: "caja1 caja1 caja1" "caja2 caja2 caja2" "caja3 caja3 caja3" "caja4 caja4 caja4" "caja5 caja5 caja5";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 51vh 40vh 10vh 40vh 15vh; }

#caja1 {
  grid-area: caja1;
  background-color: #31afb4;
  text-align: center;
  align-content: space-around;
  justify-content: center; }
  #caja1 img {
    align-content: center; }

#caja2 {
  grid-area: caja2;
  width: 100%;
  background-color: #31afb4; }
  #caja2 ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-around;
    align-items: center;
    list-style-type: none; }
    #caja2 ul li {
      width: 50%;
      margin-top: 5px;
      background: linear-gradient(to right, #4ca2cd, #67b26f);
      border: 2px solid #abdddd;
      border-radius: 3px;
      border-style: outset;
      flex: 50%; }
      #caja2 ul li a {
        font-family: "Roboto Condensed";
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: white; }

#caja3 {
  grid-area: caja3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #31afb4; }

#caja4 {
  grid-area: caja4;
  background-color: #78ffd6;
  font-family: "Roboto Condensed";
  color: #1b1f1ff3; }
  #caja4 h1 {
    font-size: 18px;
    text-align: center;
    margin: 5px; }
  #caja4 p {
    font-size: 12px; }

#caja5 {
  grid-area: caja5;
  background-color: #31afb4; }
  #caja5 p {
    margin-top: 10px;
    font-family: "Roboto Condensed";
    font-size: 12px;
    text-decoration: none;
    text-align: center; }

#contenedor3 {
  display: grid;
  grid-template-areas: "caja6 caja6 caja6" "caja7 caja7 caja7" "caja8 caja8 caja8" "caja9 caja9 caja9" "caja10 caja10 caja10";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 51vh 40vh 10vh max-content 15vh; }

#caja6 {
  grid-area: caja6;
  background-color: #31afb4;
  text-align: center;
  align-content: space-around;
  justify-content: center; }
  #caja6 img {
    align-content: center; }

#caja7 {
  grid-area: caja7;
  width: 100%;
  background-color: #31afb4; }
  #caja7 ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-around;
    align-items: center;
    list-style-type: none; }
    #caja7 ul li {
      width: 50%;
      margin-top: 5px;
      background: linear-gradient(to right, #4ca2cd, #67b26f);
      border: 2px solid #abdddd;
      border-radius: 3px;
      border-style: outset;
      flex: 50%; }
      #caja7 ul li a {
        font-family: "Roboto Condensed";
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: white; }

#caja8 {
  grid-area: caja8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #31afb4; }

#carouselExampleCaptions {
  grid-area: caja9;
  /*display: flex;
    flex-direction: column;
    justify-items: center;
    .mordillos{
        width: $ancho;
        flex: $ancho;
        height: auto;
        background-image: url(../Recursos/Proyectos/Mordillos-cel.png);
        background-repeat: no-repeat;
        border: 1px solid black;
        background-position: top;
    }*/ }

#caja10 {
  grid-area: caja10;
  background-color: #31afb4; }
  #caja10 p {
    margin-top: 10px;
    font-family: "Roboto Condensed";
    font-size: 12px;
    text-decoration: none;
    text-align: center; }

/* CONTACTO GRIDS */
#contenedor4 {
  display: grid;
  grid-template-areas: "caja11 caja11 caja11" "caja12 caja12 caja12" "caja13 caja13 caja13" "caja14 caja14 caja14" "caja15 caja15 caja15";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 51vh 40vh 10vh 100vh 15vh; }

#caja11 {
  grid-area: caja11;
  background-color: #31afb4;
  text-align: center;
  align-content: space-around;
  justify-content: center; }
  #caja11 img {
    align-content: center; }

#caja12 {
  grid-area: caja12;
  width: 100%;
  background-color: #31afb4; }
  #caja12 ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-around;
    align-items: center;
    list-style-type: none; }
    #caja12 ul li {
      width: 50%;
      margin-top: 5px;
      background: linear-gradient(to right, #4ca2cd, #67b26f);
      border: 2px solid #abdddd;
      border-radius: 3px;
      border-style: outset;
      flex: 50%; }
      #caja12 ul li a {
        font-family: "Roboto Condensed";
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: white; }

#caja13 {
  grid-area: caja13;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #31afb4; }

#caja14 {
  grid-area: caja14;
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed"; }
  #caja14 .datos {
    width: 100%;
    padding: 5px;
    height: 50vh;
    font-weight: bold;
    align-content: space-around; }
    #caja14 .datos label {
      padding: 10px;
      font-size: 18px;
      font-weight: normal;
      flex: left; }
    #caja14 .datos input {
      padding: 5px;
      font-size: 18px;
      font-weight: normal;
      flex: right; }
  #caja14 .consulta {
    width: 100%;
    padding: 5px;
    height: 50vh;
    font-weight: bold; }
    #caja14 .consulta p {
      margin-left: 30px;
      font-size: 14px;
      font-weight: normal;
      text-align: left; }
    #caja14 .consulta textarea {
      width: 100%;
      font-size: 12px; }
    #caja14 .consulta .form-check {
      font-weight: normal; }
    #caja14 .consulta input {
      margin-top: 10px;
      font-size: 14px;
      font-weight: normal;
      text-align: center; }

#caja15 {
  grid-area: caja15;
  background-color: #31afb4; }
  #caja15 p {
    margin-top: 10px;
    font-family: "Roboto Condensed";
    font-size: 12px;
    text-decoration: none;
    text-align: center; }
